<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PPE_Pro_Track"
        tools:targetApi="31">
        <activity
            android:name=".PPEItemManagement.AddPpeItemActivity"
            android:exported="false" />
        <activity
            android:name=".PPEItemManagement.PpeItemsActivity"
            android:exported="false" />
        <activity
            android:name=".Issuance.RecordIssuanceActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Issuance.IssuanceRecords.RecordsActivity"
            android:exported="false" />
        <activity
            android:name=".Issuance.IssuancePendingReturns.PendingReturnsActivity"
            android:exported="false" />
        <activity
            android:name=".Employee.EmployeeDetails.EmployeeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Employee.AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".Employee.EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".Department.AddDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".Department.DepartmentDetails.DepartmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Department.DepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>